<label for="user_story_definition">Title:</label><%= @us.text_field :definition %>
<label for="user_story_description">Notes:</label><%= @us.text_area :description %>
<label for="user_story_story_points">Story points:</label><%= @us.text_field :story_points %>