<% if @user_story.acceptance_criteria.blank? -%>
<h3>No Acceptance Criteria</h3>
<% else -%>
<h3>Acceptance Criteria:</h3>
<ol>
<% @user_story.acceptance_criteria.each do |crit| %>
	<li><%=h crit.detail %></li>
<% end %>
</ol>
<% end %>