<div class="block tasks">
  <h3>Tasks <%= "(#{user_story.tasks.complete.size}/#{user_story.tasks.size} completed)" unless user_story.tasks.blank? %></h3>
  <% if user_story.tasks.blank? %>
    <p>There are no tasks for this user story</p>
  <% else %>
    <ul>
      <% user_story.tasks.complete.each do |task| %>
        <li class="done"><%= h task.definition %></li>
      <% end %>
      <% user_story.tasks.not_done.each do |task| %>
        <li class="not_done"><%= h task.definition %></li>
      <% end %>
    </ul>
  <% end %>
</div>

