var update = function(data){
  if (data.story_points !== '') {
    $('.secret-estimate').hide();
    $('#average-estimate').hide();
    var estimatorId = 'js-estimate-' + data.estimator_id;
    $('#' + estimatorId).remove();
    var estimate = '<li id="' + estimatorId + '"><strong>' + data.estimator + '</strong> submitted an estimate <strong><span class="secret-estimate">' + data.story_points + '</span></strong></li>';
    $(estimate).appendTo($('#secret-estimates'));
    var sum = 0;
    $.map($('.secret-estimate'), function(element) {
      sum = sum + (Number($(element).html()));
    });
    $('#average-estimate').html('<strong>Average estimate:</strong> ' + Math.round(sum / $('.secret-estimate').length));
  }
};

var source = new EventSource('https://sse.agileista.com/subscribe/<%= uid %>');

source.addEventListener('message', function (event) {
  update(JSON.parse(event.data));
}, false);
