.rvmrc
.bundle/
log
db/sphinx/*
.DS_Store
*.sqlite3
config/database.yml
config/*.sphinx.conf
index/*
*.swp
rerun.txt
mkmf.log
bin/
gems/*
!gems/cache
!gems/dirs
.bundle/config
coverage
config/mailer.yml
vendor/bundle
tmp/
*.rbc
*.sassc
.sass-cache
public/assets
