.bundle/
log
db/schema.rb
db/sphinx/*
.DS_Store
*.sqlite3
coverage/*
config/database.yml
config/*.sphinx.conf
index/*
.swp
mkmf.log
rerun.txt

mkmf.log

bin/

gems/*
!gems/cache
!gems/dirs

.bundle/config
