<div id="box">
  <div class="block">
    <div class="content">
      <h1 class="clearfix">Thanks for signing up</h1>
      <p>You should receive an email shortly with information on accessing your account and getting started</p>
      <p>If you have any trouble or the email doesn't arrive within half an hour or so send us an email at <%= link_to "support@#{AccountStuff::DOMAIN}", "mailto:support@#{AccountStuff::DOMAIN}" %></p>
      <br />
      <%= form_tag :action => 'validate' %>
        <%= text_field_tag :id, {}, :size => 60 %>
        <%= submit_tag 'Validate' %>
      </form>
    </div>
  </div>
</div>
