<div class="row">
  <div class="three columns centered">
      <h1>Thanks for signing up</h1>
      <p>You should receive an email shortly with information on accessing your account and getting started</p>
      <p>If you have any trouble or the email doesn't arrive within half an hour or so send us an email at <%= link_to "support@#{AccountStuff::DOMAIN}", "mailto:support@#{AccountStuff::DOMAIN}" %></p>
      <br>
      <%= form_tag :action => 'validate' %>
        <%= text_field_tag :id, nil, :size => 60 %>
        <%= button_tag 'Validate', :class => 'button' %>
      </form>
    </div>
  </div>
</div>
