html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear {
  clear: both;
  height: 0; }

h1 {
  margin: 15px 0;
  font-size: 2.2em;
  font-weight: normal; }

h2 {
  font-size: 2.2em;
  margin: 15px 0;
  font-weight: normal; }

h3 {
  font-size: 1.8em;
  margin: 10px 0;
  font-weight: normal; }

h4 {
  font-size: 1.6em;
  margin: 10px 0;
  font-weight: normal; }

hr {
  height: 1px;
  border: 0; }

p {
  margin: 15px 0; }

a img {
  border: none; }

body {
  font-size: 62.5%;
  font-family: sans-serif; }

#container {
  min-width: 960px; }

#header, #wrapper {
  padding: 0 20px; }

#header {
  position: relative;
  padding-top: 1px; }

#header h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 3em; }

#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
  text-decoration: none; }

#main {
  width: 70%;
  float: left; }

.actions-bar {
  padding: 10px 1px; }

.actions-bar .actions {
  float: left; }

.actions-bar .pagination {
  float: right;
  padding: 1px 0; }

#sidebar {
  width: 25%;
  float: right; }

#sidebar h3 {
  padding: 10px 15px;
  margin: 0;
  font-size: 1.3em; }

#sidebar .block {
  margin-bottom: 20px;
  padding-bottom: 10px; }

#sidebar .block .content {
  padding: 0 15px; }

#sidebar .navigation li a:link, #sidebar .navigation li a:visited {
  display: block;
  padding: 10px 15px; }

#sidebar .block .sidebar-block, #sidebar .notice {
  padding: 10px; }

#wrapper {
  padding-top: 20px; }

#main .block {
  margin-bottom: 20px;
  padding-top: 1px; }

#main .block .content .inner {
  padding: 0 15px 15px; }

#main .main p.first {
  margin-top: 0; }

#user-navigation {
  position: absolute;
  top: 0px;
  right: 20px; }

.main-navigation {
  width: 100%; }

.main-navigation ul, .secondary-navigation ul, #sidebar .navigation {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.main-navigation li, .secondary-navigation li {
  float: left; }

.main-navigation li {
  margin-right: 5px; }

.main-navigation li a:link, .main-navigation li a:visited, .main-navigation li a:hover, .main-navigation li a:active, .secondary-navigation li a:link, .secondary-navigation li a:visited, .secondary-navigation li a:hover, .secondary-navigation li a:active {
  text-decoration: none; }

.main-navigation li a {
  font-size: 1.5em;
  display: block;
  padding: 8px 15px; }

.secondary-navigation {
  font-size: 1.3em;
  border-bottom-width: 10px;
  border-bottom-style: solid; }

.secondary-navigation li a {
  display: block;
  padding: 10px 15px; }

.secondary-navigation li.change_view a {
  padding: 7px 15px 8px 15px; }

#footer {
  padding-bottom: 20px; }

.pagination a, .pagination span {
  padding: 2px 5px;
  margin-right: 5px;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px; }

.pagination span.current {
  font-weight: bold; }

.pagination a {
  text-decoration: none; }

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px; }

.table th {
  padding: 10px;
  font-weight: bold;
  text-align: left; }

.table th.first {
  width: 30px; }

.table th.last {
  width: 200px; }

.table .checkbox {
  margin-left: 10px; }

.table td {
  padding: 10px; }

.table td.last {
  text-align: right; }

input.checkbox {
  margin: 0;
  padding: 0; }

.form .group {
  margin-bottom: 15px; }

.form div.left {
  width: 20%;
  float: left; }

.form div.right {
  width: 75%;
  float: right; }

.form .columns .column {
  width: 48%; }

.form .columns .left {
  float: left; }

.form .columns .right {
  float: right; }

.form label.label, .form input.text_field, .form textarea.text_area {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0; }

.form label.right {
  text-align: right; }

.form input.checkbox, .form input.radio {
  margin-right: 5px; }

.form label.checkbox, .form label.radio {
  line-height: 1.5em; }

.form label.label {
  display: block;
  padding-bottom: 2px;
  font-weight: bold; }

.form div.fieldWithErrors label.label {
  display: inline; }

.form .fieldWithErrors .error {
  color: red; }

.form input.text_field, .form textarea.text_area {
  width: 100%;
  border-width: 1px;
  border-style: solid; }

ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

ul.list li {
  clear: left;
  padding-bottom: 5px; }

ul.list li .left {
  float: left; }

ul.list li .left .avatar {
  width: 50px;
  height: 50px; }

ul.list li .item {
  margin-left: 80px; }

ul.list li .item .avatar {
  float: left;
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px; }

#box {
  width: 500px;
  margin: 50px auto; }

#box .block {
  margin-bottom: 20px;
  -webkit-box-shadow: 2px 2px 6px #aaaaaa;
  -moz-box-shadow: 2px 2px 6px #aaaaaa;
  box-shadow: 2px 2px 6px #aaaaaa; }

#box .block h2 {
  padding: 10px 15px;
  margin: 0; }

#box .block .content {
  padding: 10px 20px; }

#burnall {
  margin: 10px; }

#notification-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: #ecefef;
  z-index: 100;
  padding: 10px;
  text-align: center;
  font-size: 200%;
  display: none; }

#notification-bar a.close-bar {
  position: absolute;
  right: 40px;
  text-decoration: none; }

.small {
  font-size: 11px; }

.gray {
  color: #999999; }

.hightlight {
  background-color: #ffffcc; }

a:link, a:visited, a:hover, a:active, h1, h2, h3 {
  color: #7a1818; }

a {
  -moz-outline: none; }

body {
  color: #222222;
  background: #e6e6e6;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif; }

hr {
  background: #e6e6e6;
  color: #e6e6e6; }

#header {
  background: #7a1818; }

#header h1 {
  padding: 20px 0; }

#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
  color: white; }

#user-navigation {
  top: auto;
  bottom: 0;
  right: 35px;
  width: auto; }

#main .block .content {
  background: white;
  padding-top: 1px; }

#main .block .content h2 {
  margin-left: 15px; }

#sidebar .block {
  background: white; }

#sidebar h3 {
  background: #7a1818;
  color: white;
  border-bottom: 10px solid #262626; }

.main-navigation li {
  padding-left: 15px; }

.main-navigation li a {
  padding: 8px 0; }

.main-navigation li.active {
  padding: 0;
  margin-left: 15px; }

.main-navigation li.active {
  margin-left: 15px; }

.main-navigation li.active a {
  padding: 8px 15px; }

#sidebar li a:link, #sidebar li a:visited {
  background: white;
  border-bottom: 1px solid #ecefef;
  text-decoration: none; }

#sidebar li a:hover, #sidebar li a:active {
  background: #470e0e;
  color: white; }

.main-navigation {
  background: #262626; }

.main-navigation li {
  background: #262626;
  margin-right: 0; }

.main-navigation li.active {
  background: #e6e6e6; }

.main-navigation li a:link, .main-navigation li a:visited, .main-navigation li a:hover, .main-navigation li a:active, .secondary-navigation li a:link, .secondary-navigation li a:visited, .secondary-navigation li a:hover, .secondary-navigation li a:active {
  text-decoration: none;
  color: white; }

.secondary-navigation li a:hover {
  background: #470e0e; }

.main-navigation li.active a:link, .main-navigation li.active a:visited, .main-navigation li.active a:hover, .main-navigation li.active a:active {
  color: #262626; }

.secondary-navigation {
  background: #7a1818;
  border-bottom-color: #262626; }

.secondary-navigation li.active, .secondary-navigation li.active a:hover {
  background-color: #262626; }

.secondary-navigation li.change_view {
  float: right; }

#footer .block {
  color: white;
  background: #262626; }

#footer .block p {
  margin: 0;
  padding: 10px; }

.pagination span.current {
  background: #262626;
  color: white;
  border-color: #262626; }

.pagination a {
  color: #262626;
  border-color: #262626; }

.pagination a:hover {
  color: white;
  background: #262626; }

.table th {
  background: #262626;
  color: white; }

.table td {
  border-bottom: 1px solid #ecefef; }

.form input.text_field, .form textarea.text_area {
  width: 100%;
  border: 1px solid #262626; }

.form input.button {
  background: #eeeeee;
  color: #262626;
  padding: 2px 5px;
  border: 1px solid #262626;
  cursor: pointer; }

.form .description {
  font-style: italic;
  color: #8c8c8c;
  font-size: 0.9em; }

.flash .message {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto 15px; }

.flash .message p {
  margin: 8px; }

.flash .error {
  border: 1px solid #ffbbbb;
  background-color: #ffdddd; }

.flash .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc; }

.flash .notice {
  border: 1px solid #1fdf00;
  background-color: #bbffb6; }

ul.list li {
  border-bottom-color: #ecefef;
  border-bottom-width: 1px;
  border-bottom-style: solid; }

ul.list li .item .avatar {
  border-color: #ecefef;
  border-width: 1px;
  border-style: solid;
  padding: 2px; }

#box .block {
  background: white; }

#box .block h2 {
  background: #7a1818;
  color: white; }

#main, .main-navigation, .main-navigation li, .secondary-navigation, #main .block, #sidebar .block, #sidebar h3, ul.list li, #footer .block, .form input.button, #box .block, #box .block h2 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }

.secondary-navigation li.first a, .secondary-navigation li.first, .table th.first, .table th.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px; }

.table th.last, .secondary-navigation li.change_view.last a {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }

.secondary-navigation li.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px; }

#sidebar, #sidebar .block, #main .block, #sidebar .navigation, ul.list li, #footer .block, .form input.button, #box .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px; }

.clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  line-height: 0px;
  visibility: hidden; }

.clear {
  clear: both; }

ul {
  list-style: none; }

li {
  margin-left: 0px; }

a {
  text-decoration: none; }

h2.title span.hightlight {
  font-size: 80%; }

h2.title span.tab {
  background-color: #262626;
  color: white;
  border-top-left-radius-: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  padding: 5px 10px; }

.themes.index h2.title, .sprints.show h2.title, .users.index h2.title {
  margin-bottom: 5px; }

p.first {
  margin-top: 0; }

.hide {
  display: none;
  visibility: hidden; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.criteria {
  background-color: #e46719; }

.clarify {
  background-color: #494949; }

.estimate {
  background-color: #184979; }

.plan {
  background-color: #187949; }

body.plan {
  background-color: #ecefef; }

.highlight {
  background-color: #ffffbb;
  color: #666666;
  padding: 1px 2px; }

.currentsprint {
  background-color: #ffffbb; }

.content, #sidebar li {
  font-size: 1.1em; }

.inner .flash {
  margin-top: 15px; }

#sidebar .flash .message {
  margin-bottom: 0; }

.group.columns div {
  float: left;
  margin-right: 5%;
  width: 45%; }

#main.wide {
  width: 100%; }

.form textarea.text_area {
  font-family: helvetica, arial, sans-serif; }

.form input.text_field {
  font-size: 1.1em; }

#block-login .new_account {
  float: right; }

#block-login .new_account a {
  color: #330000; }

#block-login .button {
  float: left; }

#block-login .link {
  float: right;
  padding-top: 4px; }

.form .description {
  display: block;
  margin-top: 3px; }

.table td {
  vertical-align: top; }

.table tr.odd {
  background-color: white; }

.table tr.even {
  background-color: #ecefef; }

.table td.definition {
  width: 60%; }

.table td.state {
  color: white; }

.sprints .table td.name {
  width: 12%; }

.sprints .table td.description, .sprints .table td.tasks {
  width: 30%; }

.impediments .table td.description {
  width: 50%; }

.table td.date {
  width: 15%; }

.table td.actions {
  width: 12%; }

.sprints .table td.actions {
  line-height: 2;
  width: 18%; }

.table td.points {
  text-align: center; }

.user_stories.show .content .table {
  margin: 10px;
  width: 30%; }

.user_stories.show .content .table th {
  background-color: #ecefef;
  color: #222222;
  width: 30%; }

.user_stories.show .content .table td {
  background-color: #262626;
  color: white;
  width: 70%; }

#user_stories table.table {
  width: 94%; }

#user_stories table.table tr.user_story {
  cursor: move; }

#user_stories table.table td.actions {
  background-image: url("/images/icons/16x16/cursor_H_split.png");
  background-repeat: no-repeat;
  background-position: 90% 50%; }

#header h1 {
  color: white; }

#header #accountswitcher {
  margin: 23px 0 0 10px; }

#header #search_form {
  padding: 25px 0;
  position: absolute;
  left: 40%; }

#header #search_form .submit {
  margin-left: 5px; }

#header .flash {
  float: right;
  padding-top: 28px; }

#header .flash .message {
  float: right;
  margin-right: 10px;
  padding: 3px; }

#header a.gravatar {
  margin-top: 10px; }

.main-navigation li a.unresolved {
  color: #cc0000; }

.main-navigation li a.unresolved:after {
  content: "*"; }

.sprints.show.task_board .main-navigation ul li.sprints.active {
  background: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

.sprints.show.task_board .main-navigation ul li.sprints.active a {
  color: white;
  padding-left: 0;
  padding-right: 0; }

.user-navigation ul li {
  font-size: 1.2em; }

.user-navigation ul li.active {
  background: #ecefef;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px; }

.user-navigation ul li.active a {
  color: #262626;
  padding: 8px 15px; }

.secondary-navigation li {
  background: none; }

body.index .secondary-navigation .index, body.new .secondary-navigation .add, body.create .secondary-navigation .add, body.edit .secondary-navigation .edit, body.show .secondary-navigation .show, body.plan .secondary-navigation .plan, body.settings .secondary-navigation .settings {
  background-color: #262626; }

.backlog #sidebar .block {
  padding-bottom: 0px; }

.backlog #sidebar .navigation li {
  color: white;
  font-weight: bold;
  padding: 10px 15px; }

#sidebar .navigation li a:hover span {
  color: #262626; }

#sidebar ol.navigation li {
  list-style-type: decimal; }

#sidebar .tasks li, #sidebar .tasks p, #sidebar .acceptance_criteria li, #sidebar .acceptance_criteria p {
  border-bottom: 1px solid #ecefef;
  margin: 0;
  padding: 10px 15px; }

#sidebar .acceptance_criteria .remove, #sidebar .tasks .remove {
  display: block;
  margin-top: 5px; }

#sidebar .tasks li.done {
  background-color: #187949; }

#sidebar .tasks li.not_done {
  background-color: #e46719; }

#user_stories {
  margin-left: 20px;
  margin-right: -20px; }

dl.user_story, dl.task_card {
  background-color: transparent;
  color: black;
  float: left;
  line-height: 1.1;
  margin: 0 2% 15px 0;
  width: 12.2%; }

.incomplete dl.task_card {
  background-color: #ecefef;
  border: 1px solid rgba(38, 38, 38, 0.4);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.inprogress dl.task_card {
  background-color: #ffffbb;
  border: 1px solid rgba(38, 38, 38, 0.4);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.complete dl.task_card {
  background-color: #ddffbb;
  border: 1px solid rgba(38, 38, 38, 0.4);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

#estimated dl.user_story, #committed dl.user_story {
  width: 22%; }

.tasks dl.task_card {
  width: 40%; }

.table td dl.user_story {
  width: 100%; }

.ui-sortable dl.user_story:hover, .ui-droppable dl.user_story:hover, .ui-droppable dl.task_card:hover {
  cursor: move; }

dl.user_story dt, dl.task_card dt {
  height: 1.3em;
  padding: 5px;
  position: relative; }

dl.user_story dt {
  background-color: #999999;
  border-radius-topleft: 5px;
  border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px; }

dl.user_story.criteria dt {
  background-color: #e46719; }

dl.user_story.estimate dt {
  background-color: #184979; }

dl.user_story.plan dt {
  background-color: #187949; }

dl.user_story.clarify dt {
  background-color: #494949; }

dl.user_story dt a, dl.task_card dt a {
  color: white;
  font-weight: bold;
  float: left;
  padding: 1px; }

dl.task_card dt a {
  color: #7a1818; }

dl.user_story dt a.edit, dl.task_card dt a.edit {
  background-color: rgba(38, 38, 38, 0.2);
  position: absolute;
  top: 0;
  left: 40%;
  padding: 6px; }

dl.user_story dt a.claim, dl.task_card dt a.claim {
  background-color: rgba(38, 38, 38, 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px; }

dl.user_story dt a:hover {
  color: #ffffbb; }

dl.task_card dt a:hover {
  color: #262626; }

dl.user_story dt a.edit:hover {
  background-color: rgba(38, 38, 38, 0.5); }

dl.user_story dt .points {
  color: black;
  display: block;
  float: right;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: -1px;
  padding: 3px 6px 2px 6px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

dl.user_story dd, dl.task_card dd {
  padding: 5px;
  position: relative; }

dl.user_story dd.story {
  height: 6em;
  overflow: hidden; }

dl.task_card dd.definition {
  height: 5em;
  overflow: hidden; }

dl.user_story dd.story {
  background-color: #ecefef; }

dl.user_story.complete dd.story {
  background-color: #ddffbb; }

dl.user_story.inprogress dd.story {
  background-color: #ffffbb; }

dl.user_story dd.tasks {
  background-color: #999999;
  border-radius-bottomleft: 5px;
  border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px; }

dl.user_story dd.tasks a {
  color: white;
  font-size: 0.9em;
  font-weight: 700; }

dl.user_story dd.tasks a:hover {
  color: #262626; }

#estimated dl.user_story dd.story, #committed dl.user_story dd.story, .table dl.user_story dd.story {
  height: 6em; }

.state span, .cardstate span {
  padding: 2px 5px;
  line-height: 1.2em; }

.cardstate span {
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0; }

#estimated, #committed {
  width: 50%;
  min-height: 200px; }

#committed {
  background-color: #ffffbb;
  padding: 0 2%;
  width: 46%; }

#user_stories table.table tr.release_marker {
  border-bottom: 2px solid #187949; }

a.button:link, a.button:visited, a.button:active {
  background-color: #999999;
  color: white;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 2px 5px; }

a.button:hover {
  background-color: #262626; }

h2.title a.button, h3 a.button {
  font-size: 45%;
  vertical-align: middle; }

h2.title .tab a.button {
  background-color: #7a1818; }

h2.title .tab a.button:hover {
  background-color: #b80606; }

#sidebar .errors {
  background-color: #ffdddd;
  border: 1px solid #ffbbbb;
  font-size: 1.5em; }

#sidebar .errors .errorExplanation {
  margin-bottom: 10px; }

#sidebar .errors h4 {
  margin-top: 0; }

.fieldWithErrors label, .fieldWithErrors input, .fieldWithErrors textarea {
  background-color: #ffdddd; }

#box .block .signup .fieldWithErrors {
  display: inline; }

#box .block .signup .errorExplanation {
  text-align: left;
  margin-bottom: 10px;
  font-size: 120%; }

#box .block .signup .errorExplanation h2 {
  padding: 0;
  margin: 0;
  color: #7a1818;
  background-color: white;
  font-size: 1.5em; }
