html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before {
  content: '';
  content: none;
}
blockquote:after {
  content: '';
  content: none;
}
q:before {
  content: '';
  content: none;
}
q:after {
  content: '';
  content: none;
}
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both;
  height: 0;
}
h1 {
  margin: 15px 0;
  font-size: 2.2em;
  font-weight: normal;
}
h2 {
  font-size: 2.2em;
  margin: 15px 0;
  font-weight: normal;
}
h3 {
  font-size: 1.8em;
  margin: 10px 0;
  font-weight: normal;
}
h4 {
  font-size: 1.6em;
  margin: 10px 0;
  font-weight: normal;
}
hr {
  height: 1px;
  border: 0;
}
p { margin: 15px 0; }
a img { border: none; }
body {
  font-size: 62.5%;
  font-family: sans-serif;
}
#container { min-width: 960px; }
#header, #wrapper { padding: 0 20px; }
#header {
  position: relative;
  padding-top: 1px;
}
#header h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 3em;
}
#header h1 a:link { text-decoration: none; }
#header h1 a:active { text-decoration: none; }
#header h1 a:hover { text-decoration: none; }
#header h1 a:visited { text-decoration: none; }
#main {
  width: 70%;
  float: left;
}
.actions-bar { padding: 10px 1px; }
.actions-bar .actions { float: left; }
.actions-bar .pagination {
  float: right;
  padding: 1px 0;
}
#sidebar {
  width: 25%;
  float: right;
}
#sidebar h3 {
  padding: 10px 15px;
  margin: 0;
  font-size: 1.3em;
}
#sidebar .block {
  margin-bottom: 20px;
  padding-bottom: 10px;
}
#sidebar .block .content { padding: 0 15px; }
#sidebar .navigation li a:link {
  display: block;
  padding: 10px 15px;
}
#sidebar .navigation li a:visited {
  display: block;
  padding: 10px 15px;
}
#sidebar .block .sidebar-block { padding: 10px; }
#sidebar .notice { padding: 10px; }
#wrapper { padding-top: 20px; }
#main .block {
  margin-bottom: 20px;
  padding-top: 1px;
}
#main .block .content .inner { padding: 0 15px 15px; }
#main .main p.first { margin-top: 0; }
#user-navigation {
  position: absolute;
  top: 0px;
  right: 20px;
}
.main-navigation { width: 100%; }
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.secondary-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#sidebar .navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-navigation li { float: left; }
.secondary-navigation li { float: left; }
.main-navigation li { margin-right: 5px; }
.main-navigation li a:link { text-decoration: none; }
.main-navigation li a:visited { text-decoration: none; }
.main-navigation li a:hover { text-decoration: none; }
.main-navigation li a:active { text-decoration: none; }
.secondary-navigation li a:link { text-decoration: none; }
.secondary-navigation li a:visited { text-decoration: none; }
.secondary-navigation li a:hover { text-decoration: none; }
.secondary-navigation li a:active { text-decoration: none; }
.main-navigation li a {
  font-size: 1.5em;
  display: block;
  padding: 8px 15px;
}
.secondary-navigation {
  font-size: 1.3em;
  border-bottom-width: 10px;
  border-bottom-style: solid;
}
.secondary-navigation li a {
  display: block;
  padding: 10px 15px;
}
#footer { padding-bottom: 20px; }
.pagination a {
  padding: 2px 5px;
  margin-right: 5px;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px;
}
.pagination span {
  padding: 2px 5px;
  margin-right: 5px;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px;
}
.pagination span.current { font-weight: bold; }
.pagination a { text-decoration: none; }
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}
.table th {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}
.table th.first { width: 30px; }
.table th.last { width: 200px; }
.table .checkbox { margin-left: 10px; }
.table td { padding: 10px; }
.table td.last { text-align: right; }
input.checkbox {
  margin: 0;
  padding: 0;
}
.form .group { margin-bottom: 15px; }
.form div.left {
  width: 20%;
  float: left;
}
.form div.right {
  width: 75%;
  float: right;
}
.form .columns .column { width: 48%; }
.form .columns .left { float: left; }
.form .columns .right { float: right; }
.form label.label {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}
.form input.text_field {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}
.form textarea.text_area {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}
.form label.right { text-align: right; }
.form input.checkbox { margin-right: 5px; }
.form input.radio { margin-right: 5px; }
.form label.checkbox { line-height: 1.5em; }
.form label.radio { line-height: 1.5em; }
.form label.label {
  display: block;
  padding-bottom: 2px;
  font-weight: bold;
}
.form div.fieldWithErrors label.label { display: inline; }
.form .fieldWithErrors .error { color: red; }
.form input.text_field {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}
.form textarea.text_area {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}
ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.list li {
  clear: left;
  padding-bottom: 5px;
}
ul.list li .left { float: left; }
ul.list li .left .avatar {
  width: 50px;
  height: 50px;
}
ul.list li .item { margin-left: 80px; }
ul.list li .item .avatar {
  float: left;
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
}
#box {
  width: 500px;
  margin: 50px auto;
}
#box .block { margin-bottom: 20px; }
#box .block h2 {
  padding: 10px 15px;
  margin: 0;
}
#box .block .content { padding: 10px 20px; }
.small { font-size: 11px; }
.gray { color: #999999; }
.hightlight { background-color: #ffffcc; }
a:link { color: #7a1818; }
a:visited { color: #7a1818; }
a:hover { color: #7a1818; }
a:active { color: #7a1818; }
h1, h2, h3 { color: #7a1818; }
a { -moz-outline: none; }
body {
  color: #222222;
  background: #f0f0ee;
  font-family: helvetica, arial, sans-serif;
}
hr {
  background: #f0f0ee;
  color: #f0f0ee;
}
#header { background: #7a1818; }
#header h1 { padding: 20px 0; }
#header h1 a:link { color: #ffffff; }
#header h1 a:active { color: #ffffff; }
#header h1 a:hover { color: #ffffff; }
#header h1 a:visited { color: #ffffff; }
#user-navigation {
  top: auto;
  bottom: 0;
  right: 35px;
  width: auto;
}
#main .block .content {
  background: #ffffff;
  padding-top: 1px;
}
#main .block .content h2 { margin-left: 15px; }
#sidebar .block { background: #ffffff; }
#sidebar h3 {
  background: #7a1818;
  color: #ffffff;
  border-bottom: 10px solid #262626;
}
.main-navigation li { padding-left: 15px; }
.main-navigation li a { padding: 8px 0; }
.main-navigation li.active {
  padding: 0;
  margin-left: 15px;
}
.main-navigation li.active { margin-left: 15px; }
.main-navigation li.active a { padding: 8px 15px; }
#sidebar li a:link {
  background: #ffffff;
  border-bottom: 1px solid #f0f0ee;
  text-decoration: none;
}
#sidebar li a:visited {
  background: #ffffff;
  border-bottom: 1px solid #f0f0ee;
  text-decoration: none;
}
#sidebar li a:hover {
  background: #470e0e;
  color: #ffffff;
}
#sidebar li a:active {
  background: #470e0e;
  color: #ffffff;
}
.main-navigation { background: #262626; }
.main-navigation li {
  background: #262626;
  margin-right: 0;
}
.main-navigation li.active { background: #f0f0ee; }
.main-navigation li a:link {
  text-decoration: none;
  color: #ffffff;
}
.main-navigation li a:visited {
  text-decoration: none;
  color: #ffffff;
}
.main-navigation li a:hover {
  text-decoration: none;
  color: #ffffff;
}
.main-navigation li a:active {
  text-decoration: none;
  color: #ffffff;
}
.secondary-navigation li a:link {
  text-decoration: none;
  color: #ffffff;
}
.secondary-navigation li a:visited {
  text-decoration: none;
  color: #ffffff;
}
.secondary-navigation li a:hover {
  text-decoration: none;
  color: #ffffff;
}
.secondary-navigation li a:active {
  text-decoration: none;
  color: #ffffff;
}
.secondary-navigation li a:hover { background: #470e0e; }
.main-navigation li.active a:link { color: #262626; }
.main-navigation li.active a:visited { color: #262626; }
.main-navigation li.active a:hover { color: #262626; }
.main-navigation li.active a:active { color: #262626; }
.secondary-navigation {
  background: #7a1818;
  border-bottom-color: #262626;
}
.secondary-navigation li.active { background-color: #262626; }
.secondary-navigation li.active a:hover { background-color: #262626; }
#footer .block {
  color: #ffffff;
  background: #262626;
}
#footer .block p {
  margin: 0;
  padding: 10px;
}
.pagination span.current {
  background: #262626;
  color: #ffffff;
  border-color: #262626;
}
.pagination a {
  color: #262626;
  border-color: #262626;
}
.pagination a:hover {
  color: #ffffff;
  background: #262626;
}
.table th {
  background: #262626;
  color: #ffffff;
}
.table td { border-bottom: 1px solid #f0f0ee; }
.form input.text_field {
  width: 100%;
  border: 1px solid #262626;
}
.form textarea.text_area {
  width: 100%;
  border: 1px solid #262626;
}
.form input.button {
  background: #eeeeee;
  color: #262626;
  padding: 2px 5px;
  border: 1px solid #262626;
  cursor: pointer;
}
.form .description {
  font-style: italic;
  color: #8c8c8c;
  font-size: 0.9em;
}
.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  margin: 0 auto 15px;
}
.flash .message p { margin: 8px; }
.flash .error {
  border: 1px solid #ffbbbb;
  background-color: #ffdddd;
}
.flash .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc;
}
.flash .notice {
  border: 1px solid #1fdf00;
  background-color: #bbffb6;
}
ul.list li {
  border-bottom-color: #f0f0ee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
ul.list li .item .avatar {
  border-color: #f0f0ee;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
}
#box .block { background: #ffffff; }
#box .block h2 {
  background: #7a1818;
  color: #ffffff;
}
#main, .main-navigation {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
.main-navigation li {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
.secondary-navigation {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
#main .block {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
#sidebar .block {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
#sidebar h3 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
ul.list li {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
#footer .block {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
.form input.button {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
#box .block {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
#box .block h2 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
.secondary-navigation li.first a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}
.secondary-navigation li.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}
.table th.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}
.table th.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}
.table th.last {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
.secondary-navigation li.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}
#sidebar {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
#sidebar .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
#main .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
#sidebar .navigation {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
ul.list li {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
#footer .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
.form input.button {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
#box .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
.clearfix { display: block; }
* html .clearfix { height: 1%; }
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  line-height: 0px;
  visibility: hidden;
}
.clear { clear: both; }
ul { list-style: none; }
li { margin-left: 0px; }
a { text-decoration: none; }
h2.title span.hightlight { font-size: 80%; }
h2.title span.tab {
  background-color: #262626;
  color: #ffffff;
  border-top-left-radius-: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  padding: 5px 10px;
}
.themes.index h2.title { margin-bottom: 5px; }
.sprints.show h2.title { margin-bottom: 5px; }
.users.index h2.title { margin-bottom: 5px; }
p.first { margin-top: 0; }
.hide {
  display: none;
  visibility: hidden;
}
.left { float: left !important; }
.right { float: right !important; }
.criteria { background-color: #e46719; }
.clarify { background-color: #494949; }
.estimate { background-color: #184979; }
.plan { background-color: #187949; }
body.plan { background-color: #f0f0ee; }
.highlight {
  background-color: #ffffbb;
  color: #666666;
  padding: 1px 2px;
}
.currentsprint { background-color: #ffffbb; }
.content { font-size: 1.1em; }
#sidebar li { font-size: 1.1em; }
.inner .flash { margin-top: 15px; }
#sidebar .flash .message { margin-bottom: 0; }
.group.columns div {
  float: left;
  margin-right: 5%;
  width: 45%;
}
#main.wide { width: 100%; }
.form textarea.text_area { font-family: helvetica, arial, sans-serif; }
.form input.text_field { font-size: 1.1em; }
#block-login .new_account { float: right; }
#block-login .new_account a { color: #330000; }
#block-login .button { float: left; }
#block-login .link {
  float: right;
  padding-top: 4px;
}
.form .description {
  display: block;
  margin-top: 3px;
}
.table td { vertical-align: top; }
.table tr.even { background-color: #f0f0ee; }
.table td.definition { width: 60%; }
.table td.state { color: #ffffff; }
.sprints .table td.name { width: 12%; }
.sprints .table td.description { width: 30%; }
.sprints .table td.tasks { width: 30%; }
.impediments .table td.description { width: 50%; }
.table td.date { width: 15%; }
.table td.actions { width: 12%; }
.sprints .table td.actions {
  line-height: 2;
  width: 18%;
}
.table td.points { text-align: center; }
.user_stories.show .content .table {
  margin: 10px;
  width: 30%;
}
.user_stories.show .content .table th {
  background-color: #f0f0ee;
  color: #222222;
  width: 30%;
}
.user_stories.show .content .table td {
  background-color: #262626;
  color: #ffffff;
  width: 70%;
}
#header h1 { color: #ffffff; }
#header #accountswitcher { margin: 23px 0 0 10px; }
#header #search_form {
  padding: 25px 0;
  position: absolute;
  left: 40%;
}
#header #search_form .submit { margin-left: 5px; }
#header .flash {
  float: right;
  padding-top: 28px;
}
#header .flash .message {
  float: right;
  margin-right: 10px;
  padding: 3px;
}
#header a.gravatar {
  border: 5px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
.main-navigation li a.unresolved { color: #cc0000; }
.main-navigation li a.unresolved:after { content: "*"; }
.sprints.show.task_board .main-navigation ul li.sprints.active {
  background: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.sprints.show.task_board .main-navigation ul li.sprints.active a {
  color: #ffffff;
  padding-left: 0;
  padding-right: 0;
}
.user-navigation ul li { font-size: 1.2em; }
.user-navigation ul li.active {
  background: #f0f0ee;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}
.user-navigation ul li.active a {
  color: #262626;
  padding: 8px 15px;
}
.secondary-navigation li { background: none; }
body.index .secondary-navigation .index { background-color: #262626; }
body.new .secondary-navigation .add { background-color: #262626; }
body.create .secondary-navigation .add { background-color: #262626; }
body.edit .secondary-navigation .edit { background-color: #262626; }
body.show .secondary-navigation .show { background-color: #262626; }
body.plan .secondary-navigation .plan { background-color: #262626; }
body.settings .secondary-navigation .settings { background-color: #262626; }
.backlog #sidebar .block { padding-bottom: 0px; }
.backlog #sidebar .navigation li {
  color: #ffffff;
  font-weight: bold;
  padding: 10px 15px;
}
#sidebar .navigation li a:hover span { color: #262626; }
#sidebar ol.navigation li { list-style-type: decimal; }
#sidebar .tasks li {
  border-bottom: 1px solid #f0f0ee;
  margin: 0;
  padding: 10px 15px;
}
#sidebar .tasks p {
  border-bottom: 1px solid #f0f0ee;
  margin: 0;
  padding: 10px 15px;
}
#sidebar .acceptance_criteria li {
  border-bottom: 1px solid #f0f0ee;
  margin: 0;
  padding: 10px 15px;
}
#sidebar .acceptance_criteria p {
  border-bottom: 1px solid #f0f0ee;
  margin: 0;
  padding: 10px 15px;
}
#sidebar .acceptance_criteria .remove {
  display: block;
  margin-top: 5px;
}
#sidebar .tasks .remove {
  display: block;
  margin-top: 5px;
}
#sidebar .tasks li.done { background-color: #187949; }
#sidebar .tasks li.not_done { background-color: #e46719; }
#user_stories {
  margin-left: 20px;
  margin-right: -20px;
}
dl.user_story, dl.task_card {
  background-color: transparent;
  color: #000000;
  float: left;
  line-height: 1.1;
  margin: 0 2% 15px 0;
  width: 12.2%;
}
.incomplete dl.task_card {
  background-color: #f0f0ee;
  border: 2px solid rgba(38, 38, 38, 0.2);
}
.inprogress dl.task_card {
  background-color: #ffffbb;
  border: 2px solid rgba(38, 38, 38, 0.2);
}
.complete dl.task_card {
  background-color: #ddffbb;
  border: 2px solid rgba(38, 38, 38, 0.2);
}
#estimated dl.user_story { width: 22%; }
#committed dl.user_story { width: 22%; }
.tasks dl.task_card { width: 40%; }
.table td dl.user_story { width: 100%; }
.ui-sortable dl.user_story:hover { cursor: move; }
.ui-droppable dl.user_story:hover { cursor: move; }
.ui-droppable dl.task_card:hover { cursor: move; }
dl.user_story dt {
  height: 1.3em;
  padding: 5px;
  position: relative;
}
dl.task_card dt {
  height: 1.3em;
  padding: 5px;
  position: relative;
}
dl.user_story dt {
  background-color: #999999;
  border: 2px solid #999999;
  border-bottom: none;
  border-radius-topleft: 5px;
  border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}
dl.user_story.criteria dt { background-color: #e46719; }
dl.user_story.estimate dt { background-color: #184979; }
dl.user_story.plan dt { background-color: #187949; }
dl.user_story.clarify dt { background-color: #494949; }
dl.user_story dt a {
  color: #ffffff;
  font-weight: bold;
  float: left;
  padding: 1px;
}
dl.task_card dt a {
  color: #ffffff;
  font-weight: bold;
  float: left;
  padding: 1px;
}
dl.task_card dt a { color: #7a1818; }
dl.user_story dt a.edit {
  background-color: rgba(38, 38, 38, 0.2);
  position: absolute;
  top: 0;
  left: 40%;
  padding: 6px;
}
dl.task_card dt a.edit {
  background-color: rgba(38, 38, 38, 0.2);
  position: absolute;
  top: 0;
  left: 40%;
  padding: 6px;
}
dl.user_story dt a.claim {
  background-color: rgba(38, 38, 38, 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
}
dl.task_card dt a.claim {
  background-color: rgba(38, 38, 38, 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
}
dl.user_story dt a:hover { color: #ffffbb; }
dl.task_card dt a:hover { color: #262626; }
dl.user_story dt a.edit:hover { background-color: rgba(38, 38, 38, 0.5); }
dl.user_story dt .points {
  color: #000000;
  display: block;
  float: right;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: -1px;
  padding: 3px 6px 2px 6px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
dl.user_story dd {
  padding: 5px;
  position: relative;
}
dl.task_card dd {
  padding: 5px;
  position: relative;
}
dl.user_story dd.story {
  height: 6em;
  overflow: hidden;
}
dl.task_card dd.definition {
  height: 5em;
  overflow: hidden;
}
dl.user_story dd.story {
  background-color: #f0f0ee;
  border: 2px solid #999999;
  border-top: none;
}
dl.user_story.complete dd.story { background-color: #ddffbb; }
dl.user_story dd.tasks {
  background-color: #999999;
  border-radius-bottomleft: 5px;
  border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
dl.user_story dd.tasks a {
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 700;
}
dl.user_story dd.tasks a:hover { color: #262626; }
#estimated dl.user_story dd.story { height: 6em; }
#committed dl.user_story dd.story { height: 6em; }
.table dl.user_story dd.story { height: 6em; }
.state span { padding: 2px 5px; }
.cardstate span { padding: 2px 5px; }
.cardstate span {
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
}
#estimated, #committed {
  width: 50%;
  min-height: 200px;
}
#committed {
  background-color: #ffffbb;
  padding: 0 2%;
  width: 46%;
}
a.button:link {
  background-color: #999999;
  color: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 2px 5px;
}
a.button:visited {
  background-color: #999999;
  color: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 2px 5px;
}
a.button:active {
  background-color: #999999;
  color: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 2px 5px;
}
a.button:hover { background-color: #262626; }
h2.title a.button {
  font-size: 45%;
  vertical-align: middle;
}
h3 a.button {
  font-size: 45%;
  vertical-align: middle;
}
h2.title .tab a.button { background-color: #7a1818; }
h2.title .tab a.button:hover { background-color: #b80606; }
#sidebar .errors {
  background-color: #ffdddd;
  border: 1px solid #ffbbbb;
  font-size: 1.5em;
}
#sidebar .errors .errorExplanation { margin-bottom: 10px; }
#sidebar .errors h4 { margin-top: 0; }
.fieldWithErrors label { background-color: #ffdddd; }
.fieldWithErrors input { background-color: #ffdddd; }
.fieldWithErrors textarea { background-color: #ffdddd; }
#box .block .signup .fieldWithErrors { display: inline; }
#box .block .signup .errorExplanation {
  text-align: left;
  margin-bottom: 10px;
  font-size: 120%;
}
#box .block .signup .errorExplanation h2 {
  padding: 0;
  margin: 0;
  color: #7a1818;
  background-color: #ffffff;
  font-size: 1.5em;
}
