html {
  margin: 0 0 1px 0;
  padding: 0;
  height: 100%;
}
body {
	font-family: verdana, arial, sans-serif;
	font-size: 75%; 
	margin: 0; 
	padding: 0; 
	background-color: #fff;
  	min-width: 900px;	
}
h2, #sidebar h2, #usshowright h2, #user_story h2 {font-weight:normal;font-size:1.4em; font-family: verdana, arial, sans-serif; color:#000;}
#main h2, .notecard h2, h3, .orange {font-family: "Lucida Grande", "Helvetica Neue", Arial, sans-serif; font-size:1.2em;}
.orange {color:#b9121b;}
h1 {font-size: 1.8em;}
#main h1{padding: 0; margin:0 0 10px 0;}
#main h2{padding: 0; margin:10px 0 5px 0; font-size:1.4em; font-weight:bold;}
input, textarea, select { margin-bottom: 10px; display: block; }
input[type=submit] {padding: 0; font-size: 11px;}
.sprint_task input {display:inline;}
table {border-collapse:collapse;}
td, th {text-align: left; margin: 0; padding: 4px; font-size: 0.9em;}
th {border-bottom: 1px solid #ccc;}
legend { color: #c00; font-weight: bold; }
fieldset {border: none; padding: 10px; margin-bottom: 12px;}
#leftcontent fieldset, #rightcontent fieldset {border: 1px solid #ccc; padding: 10px; margin-bottom: 12px;}
.small {font-size: 0.8em;}
a {color: #1A6086;}
img {border: none}
#userstorylist a {text-decoration: none;}


/*#wrapper {
	  margin: 0 auto;
	  text-align: left;
	  min-width: 950px;
	}
    
#content {max-width: 1500px;}*/


#main{
	margin: 0;
	float: left;
	width: 68%;
	position: relative;
	background: #fff;
	padding: 10px 20px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#maincontent {float: left; width: 500px;}
#sidebar, #cloud {
	float: right; 
	width: 20%;
	background: #fff;
	margin: 0 0 0 20px;
	padding: 10px;
	position: relative;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
#sidebar:after, #cloud:after {
  content: ".";
  height: 1px;
  visibility: hidden;
  clear: left;
  display: block;
}

#leftcontent {
	margin: 0 0 0 0;
	float: left;
	width: 50%;
	position: relative;
	background: #fff;
	padding: 10px;
	}
#rightcontent {
	float: left; 
	width: 280px; 
	background: #fff;
	margin: 0 0 0 10px;
	padding: 10px;
	position: relative;
}
ul#userstorylist, .nobullet {list-style: none; margin: 0; padding: 0; font-size: 0.8em;}
ul {list-style: none; padding: 0 10px; line-height:1.6em;}
ol { padding-left: 20px;}
.nobullet li {margin-left: 5px; margin-bottom: 6px;}
div.notecard {border: 1px solid #ccc; cursor:move; margin: 4px; padding: 2px; width: 148px; min-height: 148px; height:auto; font-size: 0.8em; margin-bottom: 8px; float:left;}
/* for Internet Explorer */
/*\*/
* html div.notecard {
height: 120px;
}
/**/
div.notecard form, div.notecard input {padding: 0; margin: 0;}
#userstorylist div, .backlogitem {cursor:move; margin: 4px; padding: 4px; width: 124px; min-height: 124px; font-size: 0.8em; float:left; margin-bottom: 8px; position: relative;border: 1px solid #b9121b;}
/* for Internet Explorer */
/*\*/
* html #userstorylist div {
height: 90px;
}
/**/

#userstorylist span.user_story_points { color:#990000;display:block;margin-bottom: 2px; }
div.notecard h2, #userstorylist h2 {margin: 0; margin-bottom: 4px;}
#userstorylist img, div.notecard img {position: absolute; bottom: 2px; right: 2px;}
div.notecard img.second, #userstorylist img.show {position: absolute; bottom: 2px; right: 20px;}
div.notecard img.third {position: absolute; bottom: 2px; right: 40px;}
div.undefined h2 {font-size: 1.2em; background-color: #b9121b; color: #fff;}
div.toovague h2 {font-size: 1.2em; background-color: #333; color: #fff;}
div.nocrit h2 {font-size: 1.2em; background-color: #DF4001; color: #fff;}
.defined h2 {font-size: 1.2em; background-color: #fff; color: #b9121b;}


/*In particular I did an outer ul with display: table (list-style none of course). Nothing special about the li elements in this list. 
Inside these li elements I have another ul element with display: table-row and the li elements inside this have display: table-cell. 
Be carefull with the sizes (widths) though. If they don’t match up right things can get really screwed up.*/

/* CLEARING DIV */

.c { height:1%; }

.c:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden; }

/*.c {display: inline-table;}*/


/***

*header

***/
#header {
	float:left;
	width:100%;
	background:#b9121b;
	line-height:normal;
	position: relative;
}
#accountswitcher {
	background:#333;
	width: 100%;
	float: left;
}

#header ul, #accountswitcher ul {
	margin:0;
	list-style:none;
}
#header li, #accountswitcher li {
	float:left;
	padding:0;
	margin:0;
	margin-right:2px;
}
#header li#searchform {
	float:right;
}
#header li#searchform input {
	display:inline; margin:2px 2px 0 0;padding-top:0 10px;
}
#header a {color: #FCFAE1;}

#header span#currentuser { color: #FCFAE1;}
#header a, #header span#flashs, #header span#currentuser {
	display:block;
	padding:5px 10px 4px;
	text-decoration: none;
 }
#header a:hover {color:#4C1B1B;}
#header h1 {color: #ffffff; padding:8px;font-size:2.8em;}
#header li h1 a {margin: 0; padding:0}
#header #flashs, .yellow {color: yellow;}
#accountswitcher a, #accountswitcher span {
	display:block;
	padding:5px 10px 4px;
	text-decoration: none;
	color: white;
}
/*** 

*summary pane

***/

.summary_pane {
border: 1px solid #ccc;
background-color: #ffffef;
margin: 10px;
padding: 10px;
}

/***

*errors

***/

.errorExplanation {
	border: 4px solid #C5C027;
	width: 70%;
	padding: 10px;
	font-size: 80%;
	margin-bottom: 10px;
}

.errorExplanation h2 {
	font-size: 110%;
}

.errorExplanation li {
	color: #1A6086;
	list-style: square;
}

/***

*sprint planning

***/

.sprint_planning select, .dateselect select {
	display: inline;
}

.dateselect label {display: block;}

.upcomingsprint {background-color: #4C1B1B;color: #fff;}
.currentsprint {background-color: #b9121b;color: #fff;}
.currentsprint a, .upcomingsprint a {color:#fff;}

/*.detail {font-size: 0.8em;color: #c00;font-weight: bold;}*/
table#sprints, table#current_sprint {width: 94%;}
#current_sprint tr.user_story { font-weight: bold;}
#current_sprint tr.task td.title { padding-left:25px;}
#current_sprint tr.task th { border: none;}
.left {float: left; width: 30%;}
.withborder {border-right: 1px solid #ccc;margin-right: 10px; 
padding-right: 10px;}
.long {width: 80%; }
.thin {height: 80px;}
.fat {height: 200px;}
/*.small {}*/
.leftborder {border-left: 1px solid #ccc;}
#exportlinks ul {margin: 4px; padding: 0; padding-top: 20px;}
#undefined {border: 1px solid #b9121b; width: 124px; height: 90px; margin: 4px; padding: 4px; font-size: 0.8em;}
#udnoborder h3, #undefined h3 {margin: 0; margin-bottom: 4px; margin-top:2px; background-color: #b9121b; color: #fff;}
#tvnoborder h3 {margin: 0; margin-bottom: 4px; margin-top:2px; background-color: #333; color: #fff; display:block; font-size: 12px; font-weight: normal; padding: 2px;}
#ncnoborder h3 {margin: 0; margin-bottom: 4px; margin-top:2px; background-color: #DF4001; color: #fff; display:block; font-size: 12px; font-weight: normal; padding: 2px;}
#udnoborder h3 {display:block; font-size: 12px; font-weight: normal; padding: 2px}
#incomplete {width: 30%;padding:10px; min-height: 200px;}
#inprogress {width: 30%;border-left:1px solid #c00; padding:10px; min-height: 200px;}
#complete {width: 30%;border-left:1px solid #c00; padding:10px; min-height: 200px;}
.dragdropl {width: 30%;min-height: 200px;padding:10px;}
.dragdropr {width: 35%;border-left:1px solid #b9121b; min-height: 200px;padding:10px;}
.cloud1 {font-size: 0.8em;}
.cloud2 {font-size: 1.0em;}
.cloud3 {font-size: 1.2em;}
.cloud4 {font-size: 1.4em;}
.cloud5 {font-size: 1.8em;}
.cloud6 {font-size: 2.2em;}
.cloud7 {font-size: 2.6em;}
.cloud8 {font-size: 3.0em;}
.cloud9 {font-size: 3.4em;}
#themeslist ol {margin-left: 0; padding-left:0;}
#themeslist ul, #releaseslist ul {list-style: none; margin-left: 0; padding-left:0;}
#themeslist ol li, #themeslist ul li, #releaseslist ul li {
	background-color: #1485CC;padding: 4px 8px; margin-left: 10px; margin-bottom: 4px;
	color: #fff; width: 80%; -moz-border-radius: 6px 6px 6px 6px;
}
#themeslist ol li:hover, #themeslist ul li:hover, #releaseslist ul li:hover {background-color: #439dd6}
#themeslist h2, #releaseslist h2 { }
#themeslist ol a, #themeslist ul a, #releaseslist ul a { text-decoration: none; color: #fff;}
#releaseslist ul li.breakpoint {
	background-color: #4c1b1b;
	background-image: url(/images/icons/arrow_up.png);
	background-position: 1% 50%;
	background-repeat: no-repeat;
	padding-left: 28px;
	width: 60%;
}
.star {color: #FFFC00}
#storypoints {clear:left; text-align:right; font-size: 140%}
.icon {vertical-align:bottom;}
span.tag {
	background-color: #4C1B1B;
	padding: 2px 4px; color: #fff;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#release hr {border: 1px solid #4c1b1b; }
.tasksave {display:inline;}
.equal {display:table;border-collapse:separate;}
.row {display:table-row;}
.row div {display:table-cell;}
th.titlerow {border: 0;color: #b9121b;}
tr.complete td, .uscomplete {text-decoration:line-through; color: #666;}
.usclaimed {text-decoration:line-through; color: green;}
#exportlinks{clear:both;}
#main.wide {width:90%;}
#navii{padding-left:20px;line-height:2em;background:#333;color:#fff;clear:both;}
#navii a{line-height:2em;color:#fff;text-decoration:none;}
#navii a:hover, #accountswitcher a:hover{color:#b9121b;}
#navii ul {display:inline;margin:0;padding:0;}
#navii ul li {float:left;padding-right:15px;font-size:1em;}
#themeslist ul li.uscomplete, #themeslist ul li.uscomplete a {background-color: #ccc; color: #fff;}
.tasklinks {position:absolute; bottom:2px;right:2px} 
#crit ul li {padding-bottom:4px;}
#usaddleft {float:left; width: 60%;}
#usaddright {float:left; width: 34%;}
select#user_story_themes {width:220px;}
#usaddbuts {margin-top:20px;}
ul#usshowtags li {float:left; display:inline; padding-right:4px;}
/*#user_story {float:left; width: 60%;}*/
#usshowright {float:left;}
#settingsleft {float: left; width: 60%;}
#settingsright {float:left; width: 35%;}
.mininotecard {width: 50px; height: 50px; background-color: green; margin: 4px; float:left;}

/*.cardcreator {color:red}*/
.cardcreator {display:block;position:absolute;bottom:2px;right:2px; color:#333;}