Hi <%= @user.name %>

  We've changed how you access Agileista for '<%= @account.name %>'

Please login to your account at the following place
<%= @url %>

If you want to sign up for new accounts you can do so at
http://app.agileista.com

Thanks..