<div class="row">
  <div class="ten columns">
    <% if @users.blank?%>
      <p>There are no people on this project. <%= link_to "Create the first user", new_user_url %>.</p>
    <% else %>
      <h2>Users</h2>
      <table class="twelve">
        <thead>
          <tr>
            <th>Gravatar</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => "user", :collection => @users %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2"><%= pluralize(@users.active.count, 'active user') %></td>
            <td colspan="3"><%= pluralize(@users.inactive.count, 'inactive user') %></td>
        </tfoot>
      </table>
    <% end %>
  </div>
</div>
