#keyboard-help {
  display: none;
  position: absolute;
  top: 25%;
  left: 30%;
  border: 2px solid $grey;
  width: 40%;
  height: 30%;
  background-color: white;
  z-index: 1002;
  overflow: auto;
  padding: 2em;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;

  ul {
    font-family: monospace;
    font-size: 2em;
  }
}
