.clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  line-height: 0px;
  visibility: hidden; }

.clear {
  clear: both; }

ul {
  list-style: none; }

li {
  margin-left: 0px; }

a {
  text-decoration: none; }

h2.title span.hightlight {
  font-size: 80%; }

h2.title span.tab {
  background-color: $dgrey;
  color: white;
  border-top-left-radius-: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  padding: 5px 10px; }

.themes.index h2.title, .sprints.show h2.title, .users.index h2.title {
  margin-bottom: 5px; }

p.first {
  margin-top: 0; }

.hide {
  display: none;
  visibility: hidden; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.criteria {
  background-color: $orange; }

.clarify {
  background-color: $grey; }

.estimate {
  background-color: $blue; }

.plan {
  background-color: $green; }

body.plan {
  background-color: $lgrey; }

.highlight {
  background-color: $yellow;
  color: #666666;
  padding: 1px 2px; }

.currentsprint {
  background-color: $yellow; }

.content, #sidebar li {
  font-size: 1.1em; }

.inner .flash {
  margin-top: 15px; }

#sidebar .flash .message {
  margin-bottom: 0; }

.group.columns div {
  float: left;
  margin-right: 5%;
  width: 45%; }

#main.wide {
  width: 100%; }
