#main-gravatar {
  padding: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #001;
  position: absolute;
  top: 2px;
  right: 20px;
}

#header h1 {
  color: white; }

header.main-header {
  -webkit-font-smoothing: antialiased !important;
  background-color: #112;
  padding: 10px 20px;
  color: white;
}

#search_form {
  float: left;
}

nav.main-nav, nav.user-nav {
  ul {
    line-height: 1.25rem;
    a {
    &:hover {
      color: $yellow;
    }
      color: white;
      padding: 0.5em;
      font-size: 1rem;
    }
    float: left;
    list-style: none;
    li {
      float: left;
      &.active {
        a {
          color: $yellow;
        }
      }
    }
  }
}

nav.user-nav {
  ul {
    margin-right: 80px;
    float: right;
    a {
      font-size: 0.8rem;
    }
  }
}

#header #accountswitcher {
  margin: 23px 0 0 10px; }

#header #search_form {
  padding: 25px 0;
  position: absolute;
  left: 40%; }

#header #search_form .submit {
  margin-left: 5px; }

#header .flash .message {
  float: right;
  margin-right: 10px;
  padding: 3px; }

#header a.gravatar {
  margin-top: 10px; }
