.small {
  font-size: 11px; }

.gray {
  color: $medium_grey; }

.hightlight {
  background-color: #ffffcc; }

a:link, a:visited, a:hover, a:active, h1, h2, h3 {
  color: $dred; }

a {
  -moz-outline: none; }

body {
  color: #222222;
  background: #e6e6e6;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif; }

hr {
  background: #e6e6e6;
  color: #e6e6e6; }

#header {
  background: $dred; }

#header h1 {
  padding: 20px 0; }

#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
  color: white; }

#user-navigation {
  top: auto;
  bottom: 0;
  right: 35px;
  width: auto; }

#main .block .content {
  background: white;
  padding-top: 1px; }

#main .block .content h2, #main .block .content p {
  margin-left: 15px; }

#sidebar .block {
  background: white; }

#sidebar h3 {
  background: $dred;
  color: white;
  border-bottom: 10px solid $dgrey; }

.main-navigation li {
  padding-left: 15px; }

.main-navigation li a {
  padding: 8px 0; }

.main-navigation li.active {
  padding: 0;
  margin-left: 15px; }

.main-navigation li.active {
  margin-left: 15px; }

.main-navigation li.active a {
  padding: 8px 15px; }

#sidebar li a:link, #sidebar li a:visited {
  background: white;
  border-bottom: 1px solid #ecefef;
  text-decoration: none; }

#sidebar li a:hover, #sidebar li a:active {
  background: #470e0e;
  color: white; }

.main-navigation {
  background: $dgrey; }

.main-navigation li {
  background: $dgrey;
  margin-right: 0; }

.main-navigation li.active {
  background: #e6e6e6; }

.main-navigation li a:link, .main-navigation li a:visited, .main-navigation li a:hover, .main-navigation li a:active, .secondary-navigation li a:link, .secondary-navigation li a:visited, .secondary-navigation li a:hover, .secondary-navigation li a:active {
  text-decoration: none;
  color: white; }

.secondary-navigation li a:hover {
  background: #470e0e; }

.main-navigation li.active a:link, .main-navigation li.active a:visited, .main-navigation li.active a:hover, .main-navigation li.active a:active {
  color: $dgrey; }

.secondary-navigation {
  background: $dred;
  border-bottom-color: $dgrey; }

.secondary-navigation li.active, .secondary-navigation li.active a:hover {
  background-color: $dgrey; }

.secondary-navigation li.change_view {
  float: right; }

#footer .block {
  color: white;
  background: $dgrey; }

#footer .block p {
  margin: 0;
  padding: 10px; }

.pagination span.current {
  background: $dgrey;
  color: white;
  border-color: $dgrey; }

.pagination a {
  color: $dgrey;
  border-color: $dgrey; }

.pagination a:hover {
  color: white;
  background: $dgrey; }

.table th {
  background: $dgrey;
  color: white; }

.table td {
  border-bottom: 1px solid #ecefef; }

.form input.text_field, .form textarea.text_area {
  width: 100%;
  border: 1px solid $dgrey; }

.form input.button {
  background: #eeeeee;
  color: $dgrey;
  padding: 2px 5px;
  border: 1px solid $dgrey;
  cursor: pointer; }

.form .description {
  font-style: italic;
  color: #8c8c8c;
  font-size: 0.9em; }

.flash .message {
  text-align: center;
  margin: 0;
  padding: 4px; }

.flash .message p {
  margin: 8px;
  padding: 4px; }

.flash .error {
  border: 1px solid #ffbbbb;
  background-color: #ffdddd; }

.flash .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc; }

.flash .notice {
  border: 1px solid #1fdf00;
  background-color: #bbffb6; }

ul.list li {
  border-bottom-color: #ecefef;
  border-bottom-width: 1px;
  border-bottom-style: solid; }

ul.list li .item .avatar {
  border-color: #ecefef;
  border-width: 1px;
  border-style: solid;
  padding: 2px; }

#box .block {
  background: white; }

#box .block h2 {
  background: $dred;
  color: white; }

#main, .main-navigation, .main-navigation li, .secondary-navigation, #main .block, #sidebar .block, #sidebar h3, ul.list li, #footer .block, .form input.button, #box .block, #box .block h2 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }

.secondary-navigation li.first a, .secondary-navigation li.first, .table th.first, .table th.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px; }

.table th.last, .secondary-navigation li.change_view.last a {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }

.secondary-navigation li.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px; }

#sidebar, #sidebar .block, #main .block, #sidebar .navigation, ul.list li, #footer .block, .form input.button, #box .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px; }

a.tagged {
  background-color: $yellow;
  border-bottom: 1px solid $red;
  border-right: 1px solid $red;
  padding: 3px 4px;
}
a.tagged:hover {
  background-color: $red;
  color: $yellow;
}
