<label for="show-stories-incomplete" class="filter-incomplete">
  <input class="ctrl-show-stories" type="checkbox" value="incomplete" name="show-stories[incomplete]" id="show-stories-incomplete" checked="checked">
  Available <span class="js-incomplete-story-points"></span>
</label>
<label for="show-stories-inprogress" class="filter-inprogress">
  <input class="ctrl-show-stories" type="checkbox" value="inprogress" name="show-stories[inprogress]" id="show-stories-inprogress" checked="checked">
  In progress <span class="js-inprogress-story-points"></span>
</label>
<label for="show-stories-complete" class="filter-complete">
  <input class="ctrl-show-stories" type="checkbox" value="complete" name="show-stories[complete]" id="show-stories-complete" checked="checked">
  Complete <span class="js-complete-story-points"></span>
</label>
