<div class="row">
  <div class="twentyfour columns">
    <div class="row">
      <div class="new-task-card">
        <h5>Add a task</h5>
        <%= simple_form_for [@project, user_story, Task.new], :remote => true do |f| %>
          <%= f.input :definition, label: false %>
          <%= f.button :submit, class: 'tiny' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

