<div class="new-task-card">
  <%= simple_form_for [@project, user_story, Task.new], :remote => true do |f| %>
    <%= f.input :definition, label: false, input_html: {id: nil, class: 'eighteen'}, placeholder: 'Add a task...' %>
    <%= f.button :submit, class: 'secondary small top-right' %>
  <% end %>
</div>
