<%= render :partial => "shared/burn_charts", :locals => {:flot_points => @flot_points} %>
<h2><%= sprint_header(@sprint) %></h2>
<table class="table">
  <thead>
    <tr>
      <th>User story</th>
      <th>Incomplete</th>
      <th>In progress</th>
      <th>Complete</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'user_story', :collection => @sprint.user_stories, :locals => {:sprint => @sprint, :from => 'sprints'} %>
  </tbody>
</table>
<% content_for :custom_js do %>
  setupTaskBoardStats();
  <%= render :partial => 'juggernaut', :locals => {:uid => @uid} %>
<% end %>

