<div id="main" class="wide">
  <div class="block">

    <div class="content">
      <% if @flot_points.length > 1 %>
      <div id="burndown" style="width:800;height:268px;"></div> 
      <% end %>
      <h2 class="title"><%= sprint_header(@sprint, :buttons => [:add_story]) %></h2>

      <div class="inner">
        <table class="table">
          <tbody>
            <tr>
              <th>User story</th>
              <th>Incomplete</th>
              <th>In progress</th>
              <th>Complete</th>
            </tr>
          <%= render :partial => 'user_story', :collection => @sprint.user_stories, :locals => {:sprint => @sprint, :from => 'task_board'} %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <%= render(:partial => "shared/footer") %>
</div>

<% content_for :custom_js do %>
<script id="source" language="javascript" type="text/javascript"> 
$(function () {
    var burndown = <%= @flot_points.inspect %>;
    
    $.plot($("#burndown"), [ burndown ], { xaxis: { mode: "time", minTickSize: [1, "day"] }, yaxis: { min: 0, mintickSize: 1, tickDecimals: 0} });
});
</script> 
 
<% end %>

