<tr>
  <td><%= invitation.email %></td>
  <td><%= show_date(invitation.created_at) %></td>
  <td><%= link_to 'Remove invitation', project_invitation_path(@project, invitation), method: :delete, data: {confirm: "Are you sure?"}, class: 'button tiny' %></td>
</tr>
