<div class="row">
  <div class="columns large-6 small-6 medium-6">
    <%= simple_form_for @project do |f| %>
      <%= f.input :name %>
      <%= f.input :iteration_length, as: :select, collection: [["1 week", 1], ["2 weeks", 2], ["3 weeks", 3], ["4 weeks", 4]] %>
      <br>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
