<tr>
  <td><strong><%= link_to project.name, project_backlog_index_path(project.id) %></strong></td>
  <td>
    <%= link_to("Task Board", project_sprint_path(project.id, project.sprints.current.first)) if project.sprints.current.any? %>
  </td>
  <td><%= pluralize(project.people.count, 'person') %></td>
  <td><%= pluralize(project.user_stories.unassigned.count, 'story') %></td>
</tr>
