<tr>
  <td><%= link_to project.name.humanize, project_backlog_index_path(project) %></td>
  <td><%= pluralize(project.people.count, 'person') %></td>
  <td><%= pluralize(project.user_stories.unassigned.count, 'story') %></td>
</tr>
