<h2>Projects</h2>

<div class="row">
  <div class="columns twenty">
    <table class="twentyfour">
      <thead>
        <tr>
          <th>Project</th>
          <th>People</th>
          <th>User Stories</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <%= render project %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if @projects.empty? %>
  <%= link_to 'Create your first project', new_project_path %>
<% end %>
