<div class="secondary-navigation impediments clearfix">
  <ul>
    <li class="index first"><%= link_to "All impediment", :controller => "impediments" %></li>
    <li class="add"><%= link_to "Add impediment", new_impediment_url %></li>
  </ul>
</div>

