<div class="secondary-navigation themes clearfix">
  <ul>
    <li class="index first"><%= link_to "All themes", :controller => "themes" %></li>
    <li class="add"><%= link_to "Add theme", new_theme_url %></li>
    <% if @theme && !@theme.new_record? %>
    <li class="delete"><%= link_to("Delete theme", theme_url(@theme), :method => :delete, :confirm => confirmation_message("theme", @theme.name)) %></li>
    <% end %>
  </ul>
</div>

