$red: #7a1818;
$lgrey: #ecefef;
$grey: #494949;
$dgrey: #262626;
$green: #187949;
$orange: #e46719;
$blue: #184979;
$yellow: #ffffbb;

a.button:link, a.button:visited, a.button:active, a.redbutton {
  background-color: #999999;
  color: white;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 2px 5px; }

a.button:hover {
  background-color: $dgrey; }

h2.title a.button, h3 a.button {
  font-size: 45%;
  vertical-align: middle; }

h2.title .tab a.button, a.redbutton {
  background-color: $red; }

h2.title .tab a.button:hover, a.redbutton:hover {
  background-color: #b80606; }
