$red: #7a1818;
$lgrey: #ecefef;
$grey: #494949;
$dgrey: #112;
$green: #187949;
$orange: #e46719;
$blue: #184979;
$yellow: #ffffbb;

.backlog #sidebar .block {
  padding-bottom: 0px; }

.backlog #sidebar .navigation li {
  color: white;
  font-weight: bold;
  padding: 10px 15px; }

#sidebar .navigation li a:hover span {
  color: $dgrey; }

#sidebar ol.navigation li {
  list-style-type: decimal; }

#sidebar .tasks li, #sidebar .tasks p, #sidebar .acceptance_criteria li, #sidebar .acceptance_criteria p {
  border-bottom: 1px solid $lgrey;
  margin: 0;
  padding: 10px 15px; }

#sidebar .acceptance_criteria .remove, #sidebar .tasks .remove {
  display: block;
  margin-top: 5px; }

#sidebar .tasks li.done {
  background-color: $green; }

#sidebar .tasks li.not_done {
  background-color: $orange; }
