<div id="box">
  <h1>Not to worry...</h1>
  <div class="block" id="block-login">
    <h2 class="clearfix">We'll send you a new password</h2>
    <div class="content login">
      <%= form_tag({:action => 'forgot'}, :class => 'form login') %>
        <div class="group clearfix">
          <div class="left">
            <label for="email" class="label right">Email</label>
          </div>
          <div class="right">
            <%= text_field_tag "email", params[:email], :class => 'text_field' %>
          </div>
        </div>
        
        <div class="group navform clearfix">
          <div class="right">
            <%= submit_tag "Send password", :class => 'button' %>
            <%= link_to 'Hey! I remembered it', {:controller => 'login', :action => 'index'}, :class => 'link' %>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>