$white: #fffffe;
$highlight-color: #FFF84F;

.hide-override {
  display: none !important;
}

.fullWidth {
  max-width: 98%;
}

table.bland tbody tr:nth-child(even) {
  background: none;
}

hr.narrow {
  margin: 11px 0 10px;
}

div#estimated, div#committed, div.ui-droppable {
  min-height:200px;
}

div#estimated, div#committed {
  border: 2px dashed $secondary-color;
}

.drop-here {
  display: block;
  line-height: 3em;
  text-align: center;
  color: $secondary-color;
  font-weight: bold;
  font-size: 2em;
}

.tb-backlog-item, .rw-backlog-item {
  padding: 11px 10px;
  background: $white;
}

.tb-backlog-item, .rw-backlog-item {
  padding: 6px;
}

.tb-header {
  h4 {
    margin: 0;
  }
}

.rw-backlog-item {
  margin: 10px 0;
  h4, h5 {
    margin-top: 0;
  }
}

.backlog-item {
  border-top: 1px solid $secondary-color;
}

.backlog-key {
  margin-bottom: 500px;
  p {
    margin-bottom: 8px;
  }
}

.release-marker {
  border-top: 1px solid $alert-color;
}

.user-story {
  &.panel {
    background: #efeeef;
    margin: 12px 0 0 0;
  }
  &[data-status="complete"] {
    border-left: 4px solid $success-color;
  }
  &[data-status="inprogress"] {
    border-left: 4px solid $primary-color;
  }
  padding: 6px;
  border: none;
  border-left: 4px solid $alert-color;
}

.task-card, .new-task-card {
  position: relative;
  margin: 4px 0 0 0;
  padding: 6px;
  background-color: $white;
}

.task-card {
  cursor: move;
  &.mine {
    border-left: 2px solid $highlight-color;
  }
}

.assignees {
  line-height: 1.2em;
  color: $primary-color;
}

.new-task-card {
  form {
    margin: 0;
    input[type=text] {
      margin: 0;
    }
  }
}

.task-card + .new-task-card {
  margin: 4px 0 0 0;
}

.backlog-row {
  cursor:move;
  padding: 8px 7px;
  background: $white;
}

.button, .button.small, .button.tiny, .button.medium, .button.large {
  border: none;
}

.top-right {
  position: absolute;
  top:6px;
  right:6px;
}

dl.sub-nav dd.active {
  a.filter-plan {
    background: $success-color;
  }
  a.filter-estimate {
    background: $secondary-color;
    color: #49464c;
  }
  a.filter-criteria {
    background: $alert-color;
  }
  a.filter-clarify {
    background: $primary-color;
  }
}

.filter-complete {
  border-left: 4px solid $success-color;
}

.filter-incomplete {
  border-left: 4px solid $alert-color;
}

.filter-inprogress {
  border-left: 4px solid $primary-color;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

text.tasks-text, text.velocity-text {
  font-size: 1.2em;
}

text.tasks-text {
  fill: $primary-color;
}

text.velocity-text {
  fill: $success-color;
}

.line-complete, .line-remaining, .line-tasks, .line-velocity {
  fill: none;
  stroke-width: 1.5px;
}
.line-avg {
  stroke: $success-color;
}
.line-complete {
  stroke: $success-color;
}
.line-remaining {
  stroke: $alert-color;
}
.line-tasks, .line-velocity {
  stroke: $primary-color;
}
textarea.vert { resize:vertical; }
textarea#user_story_description, textarea#sprint_goal {
  height: 10em;
}

ul.none {
  list-style: none;
}

span.underline {
  border-bottom: 1px dotted $highlight-color;
}

.about-quote {
  text-align: center;
}

#average-estimate, .secret-estimate {
  display: none;
}

.js-temporary-alert a {
  color: $white;
  text-decoration: underline;
}

#search-results-container input.checkbox-delete-multiple {
  display: none;
}

input.ctrl-show-stories {
  margin: 4px;
  }

.burn-panel {
  margin-bottom: 10px;
  background-color: $white;
}

.highlight {
  background-color: $highlight-color;
}

.progress {
  margin-top: rem-calc(10);
}

@media print {
  .user-story, .tb-backlog-item, .rw-backlog-item {
    border: 1px solid $white;
    padding: 0;
    &[data-status="inprogress"], &[data-status="complete"] {
      border: 1px solid $white;
    }
  }
}
