.form textarea.text_area {
  font-family: helvetica, arial, sans-serif; }

.form input.text_field {
  font-size: 1.1em; }

#block-login .new_account {
  float: right; }

#block-login .new_account a {
  color: #330000; }

#block-login .button {
  float: left; }

#block-login .link {
  float: right;
  padding-top: 4px; }

.form .description {
  display: block;
  margin-top: 3px; }
