$red: #7a1818;
$lgrey: #ecefef;
$grey: #494949;
$dgrey: #262626;
$lgreen: #ddffbb;
$green: #187949;
$orange: #e46719;
$blue: #184979;
$yellow: #ffffbb;

#user_stories {
  margin-left: 20px;
  margin-right: -20px; }

dl.user_story, dl.task_card {
  background-color: transparent;
  color: black;
  float: left;
  line-height: 1.1;
  margin: 0 2% 15px 0;
  width: 12.2%; }

.incomplete dl.task_card {
  background-color: $lgrey;
  border: 1px solid rgba(38, 38, 38, 0.4);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.inprogress dl.task_card {
  background-color: $yellow;
  border: 1px solid rgba(38, 38, 38, 0.4);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.complete dl.task_card {
  background-color: $lgreen;
  border: 1px solid rgba(38, 38, 38, 0.4);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

#estimated dl.user_story, #committed dl.user_story {
  width: 22%; }

.tasks dl.task_card {
  width: 40%; }

.table td dl.user_story {
  width: 100%; }

.ui-sortable dl.user_story:hover, .ui-droppable dl.user_story:hover, .ui-droppable dl.task_card:hover {
  cursor: move; }

dl.user_story dt, dl.task_card dt {
  height: 1.3em;
  padding: 5px;
  position: relative; }

dl.user_story dt {
  background-color: #999999;
  border-radius-topleft: 5px;
  border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px; }

dl.user_story.criteria dt {
  background-color: $orange; }

dl.user_story.estimate dt {
  background-color: $blue; }

dl.user_story.plan dt {
  background-color: $green; }

dl.user_story.clarify dt {
  background-color: $grey; }

dl.user_story dt a, dl.task_card dt a {
  color: white;
  font-weight: bold;
  float: left;
  padding: 1px; }

dl.task_card dt a {
  color: $red; }

dl.user_story dt a.edit, dl.task_card dt a.edit {
  background-color: rgba(38, 38, 38, 0.2);
  position: absolute;
  top: 0;
  left: 40%;
  padding: 6px; }

dl.user_story dt a.claim, dl.task_card dt a.claim {
  background-color: rgba(38, 38, 38, 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px; }

dl.user_story dt a:hover {
  color: $yellow; }

dl.task_card dt a:hover {
  color: $dgrey; }

dl.user_story dt a.edit:hover {
  background-color: rgba(38, 38, 38, 0.5); }

dl.user_story dt .points {
  color: black;
  display: block;
  float: right;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: -1px;
  padding: 3px 6px 2px 6px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

dl.user_story dd, dl.task_card dd {
  padding: 5px;
  position: relative; }

dl.user_story dd.story {
  height: 6em;
  overflow: hidden; }

dl.task_card dd.definition {
  height: 5em;
  overflow: hidden; }

dl.user_story dd.story {
  background-color: $lgrey; }

dl.user_story.complete dd.story {
  background-color: $lgreen; }

dl.user_story.inprogress dd.story {
  background-color: $yellow; }

dl.user_story dd.tasks {
  background-color: #999999;
  border-radius-bottomleft: 5px;
  border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px; }

dl.user_story dd.tasks a {
  color: white;
  font-size: 0.9em;
  font-weight: 700; }

dl.user_story dd.tasks a:hover {
  color: $dgrey; }

#estimated dl.user_story dd.story, #committed dl.user_story dd.story, .table dl.user_story dd.story {
  height: 6em; }

.state span, .cardstate span {
  padding: 2px 5px;
  line-height: 1.2em; }

.cardstate span {
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0; }

#estimated, #committed {
  width: 50%;
  min-height: 200px; }

#committed {
  background-color: $yellow;
  padding: 0 2%;
  width: 46%; }

#user_stories table.table tr.release_marker {
  border-bottom: 2px solid #187949; }
