<div id="main" class="wide">
	<h1>Get Started</h1>
	<ol>
	  <li><%= link_to "Set up users", new_user_path %></li>
	  <li><%= link_to "Set sprint length", :controller => 'account', :action => 'settings' %></li>
	  <li><%= link_to "Create your first user story", new_user_story_path %></li>
	</ol>
</div>