#sidebar .errors {
  background-color: #FFDDDD;
  border: 1px solid #FFBBBB;
  font-size: 1.5em;
}
#sidebar .errors .errorExplanation {
  margin-bottom: 10px;
}
#sidebar .errors h4 {
  margin-top: 0;
}

.fieldWithErrors label,
.fieldWithErrors input,
.fieldWithErrors textarea {
  background-color: #FFDDDD;
}

