<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Agileista</title>
	<%= stylesheet_link_tag "style" %>
	<!--[if IE]>
	<link href="/stylesheets/ie.css" media="screen" rel="Stylesheet" type="text/css" />
	<![endif]-->
	<%= javascript_include_tag 'prototype' %>
	<%= javascript_include_tag 'scriptaculous' %>
	<script language="Javascript" src="/FusionCharts/FusionCharts.js"></script>
	
    <!-- <%= auto_discovery_link_tag(:rss, :controller => 'backlog', :action => 'feed') %> -->
</head>
<body>
    <% if logged_in? && @other_account_people && @other_account_people.length > 0 -%>
    <div id="accountswitcher">
        <ul>
            <li><span>Other accounts:</span></li>
            <% @other_account_people.collect{|person| person.account.subdomain}.sort.each do |subdomain| -%>
	        <li><%= link_to subdomain, {:controller => 'login', :action => 'authenticate', :subdomain => subdomain}, :method => 'post' %></li>
	        <% end -%>
	    </ul>
    </div>
	<div class="c"></div>
    <% end -%>
	<div id="header">
	<% if logged_in? && @account -%>
	    <ul>
        <li><%= link_to @account.name.humanize, :controller => 'backlog' %></li>
        <li><%= link_to "Themes", :controller => 'themes' %></li>
        <li><%= link_to "Backlog", :controller => 'backlog' %></li>
        <li><%= link_to "Sprints", sprints_path %></li>
        <li><%= link_to "Impediments#{unresolved_impediment_indicator(@account)}", active_impediments_path %><%=  %></li>
        <% if csprint = @account.sprints.current.first -%><li><%= link_to "Task board", sprint_path(:id => csprint) %></li><% end -%>
        <li><span id="flashs"><%= flash[:notice] %><%= flash[:error] %></span></li>
        <li id="searchform">
          <% form_for :tag, :url => {:controller => :backlog, :action => 'search'} do |t| %>
          <%= text_field_tag 'q' %><%= submit_tag 'Search' %>
          <% end %>
        </li>
        <li class="floatright"><%= link_to "Logout", :controller => '/login', :action => 'logout' if logged_in? %></li>
        <li class="floatright"><%= link_to "Settings", :controller => '/account', :action => 'settings' %></li>
        <li class="floatright"><span id="currentuser"><%= @current_user.name %></span></li>
	    </ul>

	<% else %>
		<ul>
			<li><h1>Welcome to Agileista</h1></li>
			<li><span id="flashs" class="yellow"><%= flash[:notice] %><%= flash[:error] %></span></li>
		</ul>
	<% end -%>
	</div>
	<div class="c"></div>
	<div id="wrapper">
		<div id="content">
			<%= yield %>
		</div>
		<div id="pledgie">
			<a href='http://www.pledgie.com/campaigns/1706'><img alt='Click here to lend your support to: Agileista and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/1706.png?skin_name=chrome' border='0' /></a>
		</div>
	</div>
<% unless Rails.env == "development" %>
  <% if Rails.env == "staging" -%>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-2222612-2");
    pageTracker._setDomainName(".featurecloud.com");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  <% else -%>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-2222612-1");
    pageTracker._setDomainName(".agileista.com");
    pageTracker._trackPageview();
    </script>
  <% end -%>
<% end -%>
</body>
</html>