<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Feature Cloud Beta Signup</title>
	<%= stylesheet_link_tag "fcloud_beta", :cache => "fcloud" %>
  <%= javascript_include_tag 'jquery-1.3.2.min', :cache => "jquery" %>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min', :cache => "jquery-ui" %>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>